@font-face {
    font-family: 'Gilroy';
    src: url('../font/gilroyextrabold.woff2') format('woff2'),
        url('../font/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/gilroylight.woff2') format('woff2'),
        url('../font/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensanslight.woff2') format('woff2'),
        url('../font/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans.woff2') format('woff2'),
        url('../font/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html { 
    box-sizing: border-box;
}

*, *::before, *::after { 
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.catalog-header h1,
.product-slider-list h2,
.about h2,
.contact h2 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 47px;
    color: #000000;
}

a { 
    text-decoration: none
}

img { 
    max-width: 100%;
}

.action,
.navigation li,
.device-types-list li,
.service li,
.sorter li {
    list-style: none;
}

.company,
.filter label {
    line-height: 40px;
}

.action,
.catalog-header nav {
    line-height: 36px;
}

.header-link,
.caption-item,
.legend,
.filter label {
    color: #000000;
}

.header-link-exit {
    color: rgba(0, 0, 0, 0.302);   
}

.menu-caption,
.service-nav,
.navigation-footer, 
.btn,
.caption-item,
.legend {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;   
}

.filter label {
    font-size: 14px;
}

.catalog-header a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.302);
}

.comparison {
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.502);
    font-size: 13px;
    line-height: 36px;
}

.btn {
    color: #000000;
    text-transform: uppercase;
}

.about p,
.contact p {
    color: #595959;
    line-height: 30px;
}

.footer, 
.footer a {
    background-color: #464646;
    color: #ffffff;
}

.address {
    line-height: 30px;
}

.modal,
.map-modal {
    display: none;
}